<style>
	@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');

	.navbar.navbar-light.navbar-expand-lg,
	.top_header {
		display: none;
	}

	body {
		background: url(/files/web-formbg.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	/* .overlay{
		position: absolute;
		width: 100vw;
		height: 100vh;
		background: #0A375C82;
	} */
	/* COL DIPLAY */
	#page-list .sidebar-column.col-sm-2 {
		display: none;
	}

	#page-list .main-column.col-sm-10 {
		width: 100%;
	}

	.page-header .my-account-header {
		font-size: 36px;
		margin-top: 0px;
		font-style: italic;
	}

	.transaction-list-item {
		padding: 0;
		border-bottom: none;
		position: relative;
	}

	.main-column .page-content-wrapper .container.my-4 {
		padding: 24px;
		background-color: white;
		border-radius: 8px;
		/* height: 70vh;
		overflow: auto; */
	}

	.page-content-wrapper {
		flex-direction: column;
	}

	/* top breadcrumb */
	.breadcrumb-item a {
		color: white;
	}

	.breadcrumb-item+.breadcrumb-item::before {
		float: left;
		padding-right: .5rem;
		color: #ffffffdb;
		content: var(--bs-breadcrumb-divider, "/");
	}

	.breadcrumb-item.active {
		color: #ffffffdb;
	}

	.sidebar-item a {
		color: white;
	}

	.sidebar-item a:hover {
		color: #ffffffdb;
	}


	/* over all padding of container > table header and body  left right padding*/
	.website-list {
		background-color: var(--fg-color);
		padding: 0;
		border-radius: 0;
		min-width: 1016px;
		margin: 0px;
	}

	/* header div styling  */
	.custm-row {
		background-color: #224976;
		padding-block: 16px;
		border-radius: 8px;
	}

	/* header content */
	.row.custm-row div span {
		color: white;
		font-size: 18px;
		font-weight: 600;
	}

	/* for table body border */
	.tabl-body {
		border-top: 1px solid #D9D9D9;
		padding-block: 16px;
	}

	.web-list-item.cstm.transaction-list-item:last-child {
		border-bottom: 1px solid #D9D9D9;
		padding-bottom: 0;
	}

	.tabl-body:hover {
		background: #EEF2F5;
	}

	/* table body entry text all indicator colors */
	.tabl-body .indicator {
		border-radius: 8px;
		font-size: 18px;
		font-weight: 600;
		padding-block: 4px;
		padding-inline: 10px;
		line-height: 1.2em;
	}

	.tabl-body .green {
		background-color: #E9FAE3;
		border: 1px solid #237506;
		color: #237506;
	}

	.tabl-body .yellow {
		background-color: #FFF7E6;
		border: 1px solid #DD9600;
		color: #DD9600;
	}

	.tabl-body .blue {
		background-color: #F9F5FF;
		border: 1px solid #6941C6;
		color: #6941C6;
	}

	.tabl-body .red {
		background-color: #FEF3F2;
		border: 1px solid #B42318;
		color: #B42318;
	}

	.tabl-body .gray {
		background-color: #F2F4F7;
		border: 1px solid #344054;
		color: #344054;
	}

	.tabl-body .admission-year {
		color: #000000;
		font-weight: 500;
		font-size: 16px;
	}

	.admission-start,
	.admission-end,
	.admission-icon {
		font-weight: 500;
		font-size: 16px;
		color: #B2B2B2;
	}

	/* admition button */
	.submit-button.Apply-btn {
		background-color: #224976;
		border-radius: 4px;
		color: #ffff;
		font-weight: 600;
		padding-block: 8px;
		padding-inline: 16px;
		text-decoration: none;
	}

	/* Row inside the scrollable wrapper */
	.tabl-body,
	.custm-row {
		min-width: 1016px;
		display: flex;
		flex-wrap: nowrap;
	}

	/* for the table inner padding */
	.page_content {
		max-height: 70vh;
		overflow: auto;
	}

	.indicator.green:before,
	.indicator.green:after,
	.web-footer {
		display: none;
	}

	/* for the header defalusd margin and padding removing */
	@media (max-width: 767.98px) {
		.my-account-header {
			margin-left: 0;
			padding-top: 10px;
		}

		.row.custm-row div span,
		.tabl-body .indicator,
		.admission-start,
		.admission-end,
		.admission-icon,
		.submit-button.Apply-btn {
			font-size: 14px;
		}

		.page-header .my-account-header {
			font-size: 20px;
		}

		.tabl-body,
		.custm-row {
			padding-block: 8px;
		}
		.main-column .page-content-wrapper .container.my-4 {
    padding: 30px;
    background-color: white;
    border-radius: 8px;
    height: 70vh;
    overflow: auto;
}
	}

	@media (min-width: 576px) {
		#page-list .main-column.col-sm-10 {
			flex: 0 0 100%;
			max-width: 100%;
		}
	}

</style>
	<div class="row no-gutters custm-row g-0">
		<div class="col-3 text-center">
			<span class=""> Institute Type</span>
		</div>
		<div class="col-2 content text-center">
			<span class=" ">
				Academic Year
			</span>
		</div>
		<div class="col-2 content text-center">
			<span class="">
				Starts on
			</span>
		</div>
		<div class="col-1 content text-center">
			<span class=" ">
				<i class="fas fa-arrow-right"></i>
			</span>
		</div>
		<div class="col-2 content text-center">
			<span class=" ">
				Ends on
			</span>
		</div>
		<div class="col-2 content text-center">
			<span class="">Action</span>
		</div>
	</div>
<div class="web-list-item cstm transaction-list-item container-fluid">
	{% set today = frappe.utils.getdate(frappe.utils.nowdate()) %}
	<!-- <a href = "{{ doc.route }}" class="no-underline"> -->
	<div class="row no-gutters pl-3 tabl-body align-items-center">
		<div class="col-3 bold">
			<span class="text-center indicator
				{% if frappe.utils.getdate(doc.admission_end_date) == today %}
					red
				{% elif frappe.utils.getdate(doc.admission_end_date) > today >= frappe.utils.getdate(doc.admission_start_date)%}
					green
				{% elif frappe.utils.getdate(doc.admission_start_date) > today %}
					blue
				{% else %}
					gray
				{% endif  %}
				">{{ doc.title }}</span>
		</div>
		<div class="col-2 ">
			<div class="text-center admission-year bold">
				{{ doc.academic_year }}
			</div>
		</div>
		<div class="col-2">
			<div class="text-center admission-start  text-muted bold">
				{{ frappe.format_date(doc.admission_start_date) }}
			</div>
		</div>
		<div class="col-1 content text-center">
			<span class=" admission-icon">
				<i class="fas fa-arrow-right"></i>
			</span>
		</div>
		<div class="col-2 acadmic-year">
			<div class="text-center admission-end text-muted bold">
				{{ frappe.format_date(doc.admission_end_date) }}
			</div>
		</div>
		<div class="col-2 bold text-center">
			<a href="/student-applicant/new?student_admission={{doc.title}}&program={{doc.program}}&academic_year={{doc.academic_year}}&aghosh_home_id={{doc.aghosh_home_id}}&aghosh_home_name={{doc.aghosh_home_name}}"
				class="submit-button float-end Apply-btn">
				<span>Apply Now</span>
			</a>
		</div>
	</div>
	<!-- </a> -->
</div>